<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Objectivec-IOS7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D13A0F391C20E6720066CA1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D13A0F521C20E6720066CA1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D13A0F5D1C20E6720066CA1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
